body{
    font-family: courier new;
    background-color: navy
    margin:0;
    padding:0; 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

#wrap {
    width: 70%;
    margin: 0 auto
}

header {
    background-color: goldenrod;
    padding: 10px;
    text-align: center;
}

nav{
    background-color: white
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: Georgia;
}

nav li{
    display: inline;
    padding: 20 px;
}<!DOCTYPE html>
<html> 
    <head>
        <Title>Cooper Kupp Fan Page</Title>
        <link href="coop.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrap">
        <header>
            <img src="coop.jpg">
            </header>
            <nav>
                <ul>
                    <li><a href="">College Stats</a></li>
                    <li><a href="">Route Running Perfection</a></li>
                    <li><a href="">Dismantling Opposing Secondaries</a></li>
                    <li><a href="">Life Outside of Football</a></li>
                    <li><a href="">Journey to the NFL</a></li>
                </ul>
            </nav>
            <section>
                <h1>All-American Father Figure</h1>
                <p>Cooper Kupp has made his living as an absolute assassin out on the football field. He is now known as the most statistically dominant wide reciever in college football history and makes his coin playing for the Los Angeles Rams. If he didn't tear his ACL this season and have to miss the playoffs, the Rams may have been able to take down the GOAT, Tom Brady, and the New England Patriots.</p>
                
            </section>
            <footer>
            <p>&copy; 2019. If you violate, Coop will annihilate your ankles in the slot.</p>
            </footer>
        </div> <!--close wrap div-->
    </body>
</html>

nav ul{
    margin: 0;
    padding: 0;
}

nav a{
    color:darkgray;
    background-color: navy;
}

nav a:hover {
    color: darkgoldenrod
    background-color: white;
}

