body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: darkorange;
	margin: 0;
	padding: 0;
}

h1, h2 {
    font-family: 'VT323', monospace;
}

#wrap {
	width: 70%;
	margin: 0 auto;
}

header img {
	width:75%;
    font-family: 'Just Another Hand', cursive;
}

header {

	padding: 10px;
	text-align: center;	
`   background-color: darkorange; 
	background-image: darkorange; 
}

nav {
	background-color: Black;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	font-family: 'VT323', monospace;
}

nav li {
	display: inline;
	/*padding: 20px;*/
}

nav ul {
	margin:0;
	padding:0;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 10px 30px;
}

nav a:hover {
	color: black;
	background-color: darkorange;
}

section {
	padding: 10px;
	background-color: rgb(100%,100%,100%);
	overflow: auto;

}

.bgpic {
	width: 50%;
	float: right;
}

.button {
	background-color: darkorange;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 8px;
	margin: 15px 0;
	display:inline-block;
}

a.button:hover {
	background-color:darkorange;
}

footer {
	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
}








